[submodule "3rdparty/glad"]
	path = 3rdparty/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "3rdparty/ImGuiPack"]
	path = 3rdparty/ImGuiPack
	url = https://github.com/aiekick/ImGuiPack.git
	branch = master
[submodule "3rdparty/InAppGpuProfiler"]
	path = 3rdparty/InAppGpuProfiler
	url = https://github.com/aiekick/InAppGpuProfiler.git
	branch = master
